@font-face {
    font-family: 'CookieRunOTF-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/CookieRunOTF-Bold00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CookieRun-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/CookieRun-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #151515;
}

#container{
    margin:auto;
    display: flex;
    justify-content: center;
    width: 1000px;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    background-color: #202020;
}

#desc_container{
    margin:auto;
    width: 1000px;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    background-color: #202020;
}

.time_container{
    font-family: 'CookieRun-Regular';
    color: #aaaaaa;
    text-align: center;
    font-size:18px;
    width: 100px;
    border-radius:20px;
    background-color: #404040;
}

.subject_container{
    font-family: 'CookieRunOTF-Bold';
    color: #959595;
    text-align: center;
    font-size:24px;
    width: 130px;
    height: 110px;
    border-radius:25px;
    background-color: #303030;
}

.day{
    font-family: 'CookieRun-Regular';
    color: #ffffff;
    text-align: center;
    font-size:18px;
    height: 50px;
    border-radius:20px;
    background-color: #555555;
}

.description{
    font-family: 'CookieRunOTF-Bold';
    color: #aaaaaa;
    text-align: center;
    font-size:25px;
}

#copyright{
    font-family: 'CookieRunOTF-Bold';
    color: #aaaaaa;
    text-align: center;
    font-size:20px;
}

#contact{
    font-family: 'CookieRun-Regular';
    color: #aaaaaa;
    text-align: center;
    font-size:15px;
}

.A{
    background-color: #404040;
}

.B{
    background-color: #202020;
}

.C{
    background-color: #555555;
}

.D{
    background-color: #000000;
}